*{
  font-family:Roboto;
  box-sizing: border-box;
}
body, html, div, header, nav, ul, li, a{
    margin:0;
}
html, body{
    scroll-behavior: smooth;
    background-color: var(--bcolor, white);
}
#dark-mode:target{
    --color:darkcyan;
    --bcolor:black;
    --border:black;
    --tcolor:white;
    --nyccolor:gold;
    --cardcolor:black;
    --cardbg:#00FFFF;
    --sp:black;
    --hoverer:midnightblue;
}
#light-mode:target{
    --color:darkcyan;
    --bcolor:white;
    --border:white;
    --tcolor:black;
    --nyccolor:gold;
    --cardcolor:black;
    --cardbg:#00FFFF;
    --sp:gold;
    --hoverer:darkcyan;
}
header{
    position:fixed;
    min-height:4.85rem;
    border-bottom:1px solid var(--nyccolor, gold);
    margin:0;
    background-color: var(--bcolor, white);
}
.nav{
    display:inline;
    margin:0;
}

.logo{
    float:left;
    display:inline-block;
    height:4.74rem;
    width:4.74rem;
    border-radius:50%;
    border: 3px solid var(--nyccolor, gold);
    background-color: var(--bcolor, white);
    margin:0;
}
.nav ul{
    margin:0;
    padding:0;
}
.nav li{
   display:inline; 
   margin:0;
}
.nav a{
    display:inline-block;
    height:4.8rem;
    border:2px solid var(--border, white);
    text-decoration-color:var(--color, darkcyan);
    text-decoration:none;
    font-size: 2rem;
    padding: .5em;
    color:var(--color, darkcyan);
    background:var(--bcolor, white);
    margin:0;
}
.nav a:hover{
    --color:gold;
    --bcolor:darkgray;
    --border:gold;
    text-decoration: underline;
}
#home{
    margin-top:10rem;
    margin:0;
    display:flex;
    align-items:center;
    background-image: url("homebg.jpg");
    background-size:cover;
    min-height:100vh;
}
.left{
    margin-top:2rem;
    width:50%;
    font-size:3rem;
    font-family: serif;
    color:black;
    margin:0;
    text-align:center;
}
.right{
    width:50%;
    margin:0;
}
.name{
    margin:0;
    color:var(--color, darkcyan);
}
.box{
    font-family:Roboto;
    font-size:2.5rem;
    padding:0.2rem;
    margin-top:0.3rem;
    display:inline-block;
    border:2px solid var(--tcolor, black);
    background-color: var(--color, darkcyan);
    color: var(--nyccolor, gold);
    text-decoration: none;
}
.box:hover{
    --nyccolor:gold;
    --color:dodgerblue;
    --tcolor:gold;
    text-decoration:underline;
}
.photo{
    width:100%;
    max-height:100vh;
}
.section-header{
    border-top:2px solid var(--tcolor, black);
    border-bottom: 2px solid var(--tcolor, black);
    font-family:monospace;
    color:var(--color, darkcyan);
    background-color:var(--bcolor, white);
    height:3.5rem;
    text-align: center;
    text-decoration: underline;
    font-size:2.5rem;
    padding:0.5rem;
    margin:0;
    margin-bottom:2rem;
    margin-top:2rem;
}
.flex-container{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:30rem;
    margin-top:2rem;
    margin-bottom:2rem;
    width:100vw;
    background-color: var(--bcolor, white);
}
.flex-container a{
    text-decoration: underline;
    color:inherit;
}
.flex-container a:hover{
    text-decoration:none;
    position:relative;
    color:cyan;
}
.flex-container a:hover::after{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background-color:beige;
    color:black;
    content:"Visit";
    padding:0.5rem;
    border-radius:2px;
    text-align:center;
}
.card{
    font-size:1.25rem;
    font-weight:100;
    padding:2rem;
    border:2px solid var(--tcolor, black);
    margin:0;
    width: 25%;
    min-height: 50%;
    color:var(--cardcolor, black);
    background-color:var(--cardbg, aqua);
    box-shadow: 0 0 5px 2px;
    border-radius: 8px;
    
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.card:hover{
    --cardcolor:gold;
    --cardbg:navy;
    --tcolor:gold;
    --sp:black;
    transform: scale(1.1);
    font-size:1.3125rem;
}

.grid-container{
    display:grid;
    justify-content: center;
    width:100vw;
    height:220vh;
    margin-top:25vh;
    margin-bottom:25vh;
    margin-right:5vw;
    margin-left:5vw;
    margin:0;
    grid-auto-rows: minmax(150 px, auto);
    grid-gap:5vw;
    grid-template-columns: repeat(8, 5vw);
    background-color: var(--bcolor, white);
}
.grid{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:1.3rem;
    font-weight:100;
    border:2px solid var(--tcolor, black);
    margin:0;
    color:var(--cardcolor, black);
    background-color:var(--cardbg, aqua);
    box-shadow: 0 0 5px 2px;
    border-radius: 2px;
    
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s; 
    transition: all 0.7s;
}
.grid:hover{
    --cardcolor:gold;
    --cardbg:navy;
    --tcolor:gold;
    transform: scale(1.025);
    font-size:1.3125rem;
}

.grid1{
    grid-column: span 5;
    
}
.icon{
    height:100%;
    width:50%;
    border-right:1px solid var(--tcolor, black);
}
.grid2{
    grid-column: span 3;
}
.grid3{
    grid-column:span 3;
}
.grid4{
    grid-row: span 2;
    grid-column: span 2;
    flex-direction:column;
    justify-content: flex-start;
}
.icon.top{
    border-right:0;
    border-bottom: 1px solid var(--tcolor, black);
    height:30%;
    width:100%;
}
.icon.top.no{
    border-bottom:0;
    border-top: 1px solid var(--tcolor, black);
}
.grid5{
    grid-column:span 6;
}

#contact-me{
    background-color:var(--bcolor, white);
    color:var(--color, aqua);
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
i{
    color:var(--color, darkcyan);
    position:relative;
}
i:hover{
  color:var(--hoverer, midnightblue);
}
i:hover::after{
  font-size:1rem;
  position:absolute;
  background-color:beige;
  color:black;
  content:"Visit";
  padding:0.5rem;
  text-align:center;
  top:100%;
  width:auto;
}
@supports (position:sticky){
    header{
        position:sticky;
        top:0;
    }
    #home{
        margin-top:0;
    }
}

@media (max-width:700px) or (max-height:700px){
    *{
        font-size:0.85em;
    }
}

@media (max-width:500px) or (max-height:500px){
    *{
        font-size:0.75em;
    }
}
